<div class="container-bg">


    <!--USER-SECTION-->
    <div class="register-content">
        <div class="register-wrap">
            <!--//user-nav//-->
            <ul>
                <li class="btn-register"><a data-tmp="Thông tin thành viên" href="javascript:void(0);">Đăng ký
                    thành viên</a></li>
                <li class="btn-login"><a data-tmp="Đăng xuất" href="javascript:void(0);">Đăng nhập</a></li>
            </ul>
            <a class="hotline" href="tel:028 7300 8881">028 7300 8881</a>
            <!--//user-nav//-->

            <!--//user-form//-->
            <div class="block-user">

                <!--register-tab-->
                <div class="tab-register">
                    <div class="user-form register">
                        <div class="icon-arrow"></div>
                        <h3 class="user-title">Vui lòng nhập thông tin</h3>
                        <form id="register-top">
                            <div class="require-col">
                                <label class="gender"><input type="radio" name="gender" value="1" /><span
                                        class="gender-name">Nam</span><span class="gender-shape"></span></label>
                                <label class="gender"><input type="radio" name="gender" value="0" /><span
                                        class="gender-name">Nữ</span><span class="gender-shape"></span></label>
                            </div>
                            <div class="require-col">
                                <div class="input-text name">
                                    <span class="focus-text">HỌ TÊN (*)</span>
                                    <input id="member_name" name="name" type="text" value="" />
                                </div>
                                <div class="input-text birth">
                                    <span class="focus-text">DD/MM/YYYY ( Ngày sinh*)</span>
                                    <input id="member_birthday" name="birthday" type="text" value="" />
                                </div>
                                <div class="input-text address">
                                    <span class="focus-text">ĐỊA CHỈ (*)</span>
                                    <input id="member_address" name="address" type="text" value="" />
                                </div>
                                <div class="input-text code">
                                    <span class="focus-text">SỐ CMNN/BẰNG LÁI (*)</span>
                                    <input id="member_cmnn" name="cmnn" type="text" value="" />
                                </div>

                                <div class="input-text tel">
                                    <span class="focus-text">ĐIỆN THOẠI (*)</span>
                                    <input id="member_phone" name="phone" type="text" value="" />
                                </div>
                                <div class="input-text email">
                                    <span class="focus-text">EMAIL (*)</span>
                                    <input id="member_email" name="email" type="text" value="" />
                                </div>

                                <div class="input-text username">
                                    <span class="focus-text">TÊN ĐĂNG NHẬP (*)</span>
                                    <input id="member_username" name="username" type="text" value="" />
                                </div>
                                <div class="input-text password">
                                    <span class="focus-text">MẬT KHẨU (*)</span>
                                    <input id="member_password" name="password" type="password" value="" />
                                </div>
                                <div class="input-text confirmpass">
                                    <span class="focus-text">NHẬP LẠI MẬT KHẨU (*)</span>
                                    <input id="member_password_confirm" name="password_confirm" type="password"
                                           value="" />
                                </div>
                                <div class="input-check">
                                    <input id="member_accept" name="accept" value="1"
                                           type="checkbox" /><span></span>Khách hàng đã đồng ý các điều khoản, điều
                                    kiện của thành viên Cinestar
                                </div>
                                <div class="input-but">
                                    <input type="button" value="ĐĂNG KÝ" id="btn-register-top" />
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="user-form modify">
                        <div class="icon-arrow"></div>
                        <h3 class="user-title">Chỉnh sửa thông tin cá nhân</h3>
                        <form id="modify-top">
                            <div class="require-col">
                                <label class="gender"><input type="radio" name="gender" value="1"
                                                             checked /><span class="gender-name">Nam</span><span
                                        class="gender-shape"></span></label>
                                <label class="gender"><input type="radio" name="gender" value="0" /><span
                                        class="gender-name">Nữ</span><span class="gender-shape"></span></label>
                            </div>

                            <div class="require-col">
                                <div class="input-text name">
                                    <span class="focus-text">HỌ TÊN (*)</span>
                                    <input type="text" value="" />
                                </div>
                                <div class="input-text birth">
                                    <span class="focus-text">DD/MM/YYYY ( Ngày sinh*)</span>
                                    <input type="text" value="" />
                                </div>
                                <div class="input-text address">
                                    <span class="focus-text">ĐỊA CHỈ (*)</span>
                                    <input type="text" value="" />
                                </div>
                                <div class="input-text code">
                                    <span class="focus-text">SỐ CMNN/BẰNG LÁI (*)</span>
                                    <input type="text" value="" />
                                </div>

                                <div class="input-text tel">
                                    <span class="focus-text">ĐIỆN THOẠI (*)</span>
                                    <input type="text" value="" />
                                </div>
                                <div class="input-text email">
                                    <span class="focus-text">EMAIL (*)</span>
                                    <input type="text" value="" />
                                </div>

                                <div class="input-text username">
                                    <span class="focus-text">TÊN ĐĂNG NHẬP (*)</span>
                                    <input type="text" value="" />
                                </div>
                                <div class="input-text password">
                                    <span class="focus-text">MẬT KHẨU (*)</span>
                                    <input type="password" value="" />
                                </div>
                                <div class="input-text confirmpass">
                                    <span class="focus-text">NHẬP LẠI MẬT KHẨU (*)</span>
                                    <input type="password" value="" />
                                </div>
                                <div class="input-but">
                                    <input type="button" value="LƯU LẠI" id="btn-save-tab" />
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
                <!--register-tab-->

                <!--login-tab-->
                <div class="tab-login">
                    <div class="user-form login">
                        <div class="icon-arrow"></div>
                        <h3 class="user-title">Vui lòng nhập tên người dùng(email) và mật khẩu</h3>
                        <form id="login-top">
                            <div class="require-col">
                                <div class="input-text username">
                                    <input name="username" id="login_email" type="text" value="" />
                                </div>
                                <div class="input-text password">
                                    <input name="password" id="login_password" type="password" value="" />
                                </div>
                                <div class="input-but">
                                    <input type="button" value="Đăng nhập" id="btn-login-tab" />
                                    <a class="user-link" href="javascript:void(0);">Tìm lại mật khẩu</a>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="user-form forgot">
                        <div class="icon-arrow"></div>
                        <h3 class="user-title">Vui lòng nhập địa chỉ email của bạn vào ô bên dưới.<br />
                            Bạn sẽ nhận được một liên kết để thiết lập lại mật khẩu.</h3>
                        <form id="forgot-top">
                            <div class="require-col">
                                <div class="input-text email">
                                    <input id="forgot_email" name="email" type="text" value="" />
                                </div>
                                <div class="input-text authentication-img">
                                    <a href="#" onclick="refreshcaptcha(); return false;"><img
                                            class="captcha_image" src="#" alt="authentication" /></a>
                                </div>
                                <div class="input-text authentication">
                                    <input type="text" name="captcha" id="captcha" value="">
                                    <input type="hidden" name="captcha_bk" id="captcha_bk" value="">
                                </div>
                                <div class="input-but">
                                    <input type="button" value="Gửi" id="btn-send-top" />
                                    <a class="user-link" href="javascript:void(0);">Quay lại trang đăng nhập</a>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
                <!--login-tab-->
            </div>
            <!--//user-form//-->

        </div>
    </div>
    <!--USER-SECTION-->

    <!--SLIDER-->
    <div class="slider-inner" data-time="5000">
        <div class="slide-bg-inner">
            <div class="bg-inner">
                <a href="/assets/customer_page/khuyenmai/c-monday.html">
                    <img src="/assets/customer_page/pictures/c%27monday.jpg" alt="bg" /></a>
            </div>
            <div class="bg-inner">
                <a href="/assets/customer_page/khuyenmai/c-member.html">
                    <img src="/assets/customer_page/pictures/c%27member.jpg" alt="bg" /></a>
            </div>
            <div class="bg-inner">
                <a href="/assets/customer_page/khuyenmai/c-student.html">
                    <img src="/assets/customer_page/pictures/hssv.jpg" alt="bg" /></a>
            </div>
            <div class="bg-inner">
                <a href="/assets/customer_page/khuyenmai/c-ten.html">
                    <img src="/assets/customer_page/pictures/c%27ten.jpg" alt="bg" /></a>
            </div>
        </div>
    </div>
    <!--SLIDER-->


    <!--CART-SECTION--->
    <div class="cart-content">
        <div class="cart-wrap">

            <div class="block-title">
                <h2>Mua vé <br>Online</h2>
            </div>

            <div class="block-list">
                <div class="select-list" data-cate="film">
                    <div class="select-header">
                        <span></span>
                        <h3 data-holder="Chọn phim">Chọn phim</h3>
                    </div>
                    <div class="select-box">
                        <ul>
                            <li><a href="javascript:void(0);"
                                   data-img="https://cinestar.com.vn//assets/customer_page/pictures/Cinestar/07-2022/nang-dau-halloween.jpg"
                                   data-format="2d" data-id="0af0ed19-1d16-45bd-92b9-4b611cbb769b">
                                <h3>THÁM TỬ LỪNG DANH CONAN (C13): NÀNG DÂU HALLOWEEN</h3>
                            </a></li>
                            <li><a href="javascript:void(0);"
                                   data-img="https://cinestar.com.vn//assets/customer_page/pictures/Cinestar/08-2022/cuoc-chien-xuyen-khong.jpg"
                                   data-format="2d" data-id="2a26d413-0e30-43b3-94eb-1b748425a800">
                                <h3>CUỘC CHIẾN XUYÊN KHÔNG (C16)</h3>
                            </a></li>
                            <li><a href="javascript:void(0);"
                                   data-img="https://cinestar.com.vn//assets/customer_page/pictures/Cinestar/07-2022/dckscr.jpg"
                                   data-format="2d" data-id="38c7bd6f-8fea-4999-8afe-fdbb723cca3d">
                                <h3>DÂN CHƠI KHÔNG SỢ CON RƠI (C13)</h3>
                            </a></li>
                            <li><a href="javascript:void(0);"
                                   data-img="https://cinestar.com.vn//assets/customer_page/pictures/Cinestar/07-2022/chuyen-ma-giang-duong.jpg"
                                   data-format="2d" data-id="3e9eeda9-2fef-427b-a1ad-ea0a4d5b440f">
                                <h3>CHUYỆN MA GIẢNG ĐƯỜNG - HỌC KỲ 2 (C16)</h3>
                            </a></li>
                            <li><a href="javascript:void(0);"
                                   data-img="https://cinestar.com.vn//assets/customer_page/pictures/Cinestar/08-2022/bullet-train.jpg"
                                   data-format="2d" data-id="54ec8131-aa1b-49d8-8715-63068cb08eb1">
                                <h3>SÁT THỦ ĐỐI ĐẦU (C18)</h3>
                            </a></li>
                            <li><a href="javascript:void(0);"
                                   data-img="https://cinestar.com.vn//assets/customer_page/pictures/Cinestar/07-2022/2037.jpg"
                                   data-format="2d" data-id="782f74b0-2a57-400a-800d-a42d87cfa020">
                                <h3>ĐIỀU ƯỚC CUỐI CỦA TÙ NHÂN 2037 (C16)</h3>
                            </a></li>
                            <li><a href="javascript:void(0);"
                                   data-img="https://cinestar.com.vn//assets/customer_page/pictures/Cinestar/07-2022/lien-minh-sieu-thu.jpg"
                                   data-format="2d" data-id="ae102bae-ca55-4509-ad75-3f7fbdeff52c">
                                <h3>LIÊN MINH SIÊU THÚ DC 2D LT</h3>
                            </a></li>
                            <li><a href="javascript:void(0);"
                                   data-img="https://cinestar.com.vn//assets/customer_page/pictures/Cinestar/08-2022/poster-ha-canh-khan-cap.jpg"
                                   data-format="2d" data-id="e2cb3939-f404-4242-b9ac-9d197e8e0531">
                                <h3>HẠ CÁNH KHẨN CẤP (C16)</h3>
                            </a></li>
                        </ul>
                    </div>
                </div>

                <div class="select-list" data-cate="cine">
                    <div class="select-header">
                        <span></span>
                        <h3 data-holder="Chọn rạp">Chọn rạp</h3>
                    </div>
                    <div class="select-box">
                        <ul class="warning">
                            <li><a href="javascript:void(0);">
                                <h3>Vui lòng chọn phim</h3>
                            </a></li>
                        </ul>
                        <ul>
                        </ul>
                    </div>
                </div>

                <div class="select-list" data-cate="day">
                    <div class="select-header">
                        <span></span>
                        <h3 data-holder="Chọn ngày">Chọn ngày</h3>
                    </div>
                    <div class="select-box">
                        <ul class="warning">
                            <li><a href="javascript:void(0);">
                                <h3>Vui lòng chọn phim và rạp</h3>
                            </a></li>
                        </ul>
                        <ul>

                        </ul>
                    </div>
                </div>

                <div class="select-list" data-cate="hour">
                    <div class="select-header">
                        <span></span>
                        <h3 data-holder="Chọn suất chiếu">Chọn suất chiếu</h3>
                    </div>
                    <div class="select-box">
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!--CART-SECTION--->

    <!--CONTENT-PAGE-->
    <div class="content-page">
        <!--CINERMA - SYSTEM-->
        <div class="cinema-list-content">
            <div class="cinema-list-wrap">

                <div class="cinema-list">
                    <h2>Hệ thống rạp</h2>

                    <div class="select-list" data-cate="location">
                        <div class="select-header">
                            <span></span>
                            <h3></h3>
                        </div>
                        <div class="select-box">
                            <ul>
<!--                                    <li><a href="javascript:void(0);"-->
<!--                                           data-target="44eb9a3b-a1fb-45a4-898e-1c0ae39e84dc">-->
<!--                                        <h3>Hồ Chí Minh</h3>-->
<!--                                    </a></li>-->
<!--                                    <li><a href="javascript:void(0);"-->
<!--                                           data-target="506018c7-c3a6-4113-9112-01cbad73d0a7">-->
<!--                                        <h3>Đà Lạt</h3>-->
<!--                                    </a></li>-->
<!--                                    <li><a href="javascript:void(0);"-->
<!--                                           data-target="e2c7d28c-2f95-444d-b9ff-aa6684af4ad8">-->
<!--                                        <h3>Bình Dương</h3>-->
<!--                                    </a></li>-->
<!--                                    <li><a href="javascript:void(0);"-->
<!--                                           data-target="3a10a529-c2e3-4d88-8ad5-f3d653849c0d">-->
<!--                                        <h3>Huế</h3>-->
<!--                                    </a></li>-->
<!--                                    <li><a href="javascript:void(0);"-->
<!--                                           data-target="b27fe633-a4a1-4df4-81e2-23b3da44f7ec">-->
<!--                                        <h3>Tiền Giang</h3>-->
<!--                                    </a></li>-->
                            </ul>
                        </div>
                    </div>

<!--                        <div class="select-list" data-cate="location-cine">-->
<!--                            <div class="select-header">-->
<!--                                <span></span>-->
<!--                                <h3 data-holder="Chọn rạp">Chọn rạp</h3>-->
<!--                            </div>-->
<!--                            <div class="select-box">-->
<!--                                <ul>-->
<!--                                    <li></li>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                        </div>-->

                </div>

                <div class="cinema-address">

                    <h2><span class="c_logo"
                              style="background-image:url(/assets/customer_page/pictures/moi/9Logo/white-2018.png);"></span><span
                            class="c_name">Quốc thanh</span></h2>
                    <div class="c_address">271 Nguyễn Trãi, Phường Nguyễn Cư Trinh, Quận 1, Thành phố Hồ Chí
                        Minh</div>
                    <div class="c_tel">Đặt vé: <strong><a href="tel:+84 (28) 7300 8881">+84 (28) 7300 8881
                    </a></strong></div>
                </div>

            </div>
        </div>
        <!--CINERMA - SYSTEM-->

        <!--SCHECULE - LIST-->
        <div class="schedule-list-content">
            <div class="schedule-list-wrap">
                <div class="schedule-load"></div>
            </div>
        </div>
        <!--SCHECULE - LIST-->


        <!--PROMOTION-SECTION-->
        <div class="promotion-content">
            <div class="promotion-wrap">

                <div class="promotion-title">
                    <h2>Ưu đãi</h2>
                </div>

                <div class="promotion-slide">

                    <div class="promotion-item">
                        <a href="/assets/customer_page/khuyenmai/c-monday.html">
                            <div class="promotion-pic"><img class="lazyload"
                                                            data-src="https://cinestar.com.vn/pictures/c_monday.jpg"
                                                            align="C'MONDAY - ƯU ĐÃI THỨ 2" /></div>
                        </a>
                    </div>

                    <div class="promotion-item">
                        <a href="/assets/customer_page/khuyenmai/c-member.html">
                            <div class="promotion-pic"><img class="lazyload"
                                                            data-src="https://cinestar.com.vn/pictures/Hình%20nền%20CTKM/c'member.jpg"
                                                            align="C'member - ngày hội thành viên" /></div>
                        </a>
                    </div>

                    <div class="promotion-item">
                        <a href="/assets/customer_page/khuyenmai/c-student.html">
                            <div class="promotion-pic"><img class="lazyload"
                                                            data-src="https://cinestar.com.vn/pictures/Hình%20nền%20CTKM/hssv.jpg"
                                                            align="TẸT GA 45K SUỐT TUẦN TOÀN HỆ THỐNG" /></div>
                        </a>
                    </div>

                    <div class="promotion-item">
                        <a href="/assets/customer_page/khuyenmai/c-ten.html">
                            <div class="promotion-pic"><img class="lazyload"
                                                            data-src="https://cinestar.com.vn/pictures/c_ten.jpg"
                                                            align="C'Ten - Khuyến mãi tại mốc 10H" /></div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <!--PROMOTION-SECTION-->

    </div>
    <!--CONTENT-PAGE-->

    <!--BOTTOM-->
    <div class="bottom">

        <div class="bottom-nav">
            <div class="logo-footer" style="background-image:url(https://cinestar.com.vn/pictures/cache/moi/9Logo/trang-100x100.png);">
            </div>

            <div class="bottom-wrap">
                <div class="social">
                    <h2>Liên kết</h2>
                    <ul>
                        <!--li><a href="" target="_blank" class="google">Google</a></li-->
                        <li><a href="https://www.facebook.com/CinestarVietNam" target="_blank"
                               class="facebook">Facebook</a></li>
                        <li><a href="https://www.youtube.com/channel/UCMZgMHS9vFfXoe3UA6eanyQ" target="_blank"
                               class="youtube">Youtube</a></li>
                    </ul>
                    <h2>Hotline</h2>
                    <a class="hotline-tel" href="tel:028 7300 8881">028 7300 8881</a>
                </div>

                <div class="cinestart-price">
                    <h2>Hệ thống rạp</h2>
                    <ul>
                        <li data-name="8f3a5832-8340-4a43-89bc-6653817162f1"><a
                                href="rapvagia/8f3a5832-8340-4a43-89bc-6653817162f1.html">CineStar Quốc
                            Thanh</a></li>
                        <li class='current' data-name="e08f986a-1937-419e-b1b1-759b7c74728b"><a
                                href="rapvagia/e08f986a-1937-419e-b1b1-759b7c74728b.html">CineStar Đà Lạt</a>
                        </li>
                        <li data-name="667c7727-857e-4aac-8aeb-771a8f86cd14"><a
                                href="rapvagia/667c7727-857e-4aac-8aeb-771a8f86cd14.html">CineStar Hai Bà
                            Trưng</a></li>
                        <li class='current' data-name="cf13e1ce-2c1f-4c73-8ce5-7ef65472db3c"><a
                                href="rapvagia/cf13e1ce-2c1f-4c73-8ce5-7ef65472db3c.html">CineStar Bình
                            Dương</a></li>
                        <li class='current' data-name="f8a60463-5c34-49a9-9ae8-52081e387bb8"><a
                                href="rapvagia/f8a60463-5c34-49a9-9ae8-52081e387bb8.html">CineStar Huế</a></li>
                        <li data-name="8f54df74-3796-42ea-896e-cd638eec1fe3"><a
                                href="rapvagia/8f54df74-3796-42ea-896e-cd638eec1fe3.html">Cinestar Mỹ Tho</a>
                        </li>
                    </ul>
                </div>
                <div class="cinestart">

                    <h2>CINESTAR</h2>
                    <ul>
                        <li data-name="212_2"><a href="phimdangchieu.html">Phim đang chiếu</a></li>
                        <li data-name="212_1"><a href="phimsapchieu.html">Phim sắp chiếu</a></li>
                        <li data-name="212_3"><a href="suatchieudacbiet.html">Suất chiếu đặc biệt</a></li>
                        <li class='current' data-name="213"><a href="lichchieu.html">Lịch chiếu</a></li>
                        <li data-name="211"><a href="khuyenmai.html">Khuyến mãi</a></li>
                    </ul>
                </div>

                <div class="info">
                    <h2>Thông tin</h2>
                    <ul>
                        <li data-name="207"><a href="gioithieu.html">Giới thiệu</a></li>
                        <li data-name="209"><a href="tintuc.html">Tin tức</a></li>
                        <li data-name="210"><a href="hoivadap.html">Hỏi và đáp</a></li>
                        <li data-name="118"><a href="lienhe.html">Liên hệ</a></li>
                    </ul>
                </div>

                <div class="info terms_and_condition">
                    <h2>CHÍNH SÁCH VÀ QUY ĐỊNH</h2>
                    <ul>
                        <li><a href="javascript:void(0);" data-name="terms_and_condition_2">Quy định chung</a>
                        </li>
                        <li><a href="javascript:void(0);" data-name="terms_and_condition_3">Điều khoản giao
                            dịch</a></li>
                        <li><a href="javascript:void(0);" data-name="terms_and_condition_4">Chính sách bảo
                            mật</a></li>
                        <li><a href="javascript:void(0);" data-name="terms_and_condition_5">Thông tin công
                            ty</a></li>
                    </ul>
                </div>

            </div>

        </div>

        <div class="bottom-nav-icon">
            <ul>
                <li><a href="javascript:void(0);" data-name="1"><img src="/assets/customer_page/pictures/moi/8DinhDang/dolby2.png"
                                                                     align="DOBLY ATMOS - CÔNG NGHỆ ÂM THANH MỚI MANG TÍNH ĐỘT PHÁ" /></a></li>
                <li><a href="javascript:void(0);" data-name="2"><img src="/assets/customer_page/pictures/moi/8DinhDang/crhistie.png"
                                                                     align="Máy chiếu CHRISTIE" /></a></li>
                <li><a href="javascript:void(0);" data-name="3"><img src="/assets/customer_page/pictures/moi/8DinhDang/2d.jpg"
                                                                     align="Công nghệ chiếu phim 2D Digital" /></a></li>
                <li><a href="javascript:void(0);" data-name="4"><img src="/assets/customer_page/pictures/moi/8DinhDang/3d.png"
                                                                     align="Công nghệ chiếu phim 3D Digital" /></a></li>
                <li><a href="javascript:void(0);" data-name="5"><img
                        src="/assets/customer_page/pictures/webimages/Coffee/cinestar-coffee-02.png"
                        align="Cinestar Coffee" /></a></li>
            </ul>
        </div>

    </div>
    <!--BOTTOM-->

</div>