<div class="section-order">
    <a class="close-order" href="javascript:void(0);"></a>

    <!--//movie-part//-->
    <div class="order-title">
        <div class="order-wrap">
            <!--<div class="order-pic"><img src="https://cinestar.com.vn/pictures/films/6.jpg" /></div>-->
            <div class="order-overview">
                <h2><strong>Tên phim</strong><br /><span></span></h2>

                <ul class="about-ticket">
                    <li>
                        <p class="caption">Chọn suất chiếu</p>
                        <p class="value"></p>
                    </li>
                    <li>
                        <p class="caption">Ngày</p>
                        <p class="value"></p>
                    </li>
                    <li>
                        <p class="caption">Số lượng</p>
                        <p class="value"><span>0</span><sub>vé</sub></p>
                    </li>
                    <li>
                        <p class="caption">Tổng số tiền</p>
                        <p class="value"><span>0</span><sup>đ</sup></p>
                    </li>
                </ul>
                <ul class="about-seat">
                    <li>Số ghế</li>
                    <li class="seat-number"></li>
                </ul>

            </div>
            <div class="order-clock">
                <span class="title">Thời gian giữ ghế</span>
                <div class="clock" data-time="60"></div>
            </div>
        </div>
    </div>
    <!--//movie-part//-->

    <div class="order-content">

        <!--//payment-part//-->
        <div class="final-content">
            <!--confirm-->
            <div class="final-confirm">

                <p>Cảm ơn quý khách đã đến với <strong>Cinestar</strong> !<br> Xin quý khách vui lòng kiểm tra
                    lại thông tin đặt vé </p>

                <div class="confirm-box">

                    <div class="confirm-cus">
                        <p>Họ tên: <strong></strong></strong></p>
                        <p>Email: <strong></strong></p>
                        <p>Phone: <strong>0</strong></p>
                    </div>

                    <div class="confirm-film">

                    </div>
                    <div class="confirm-ticket">
                        <div class="confirm-mark">Ghế</div>
                        <div class="confirm-text">
                            <ul>
                            </ul>
                        </div>            
                    </div>

                    <div class="confirm-cons">
                        <div class="confirm-mark">Combo</div>
                        <div class="confirm-text">
                            <ul>
                               
                            </ul>
                        </div>
                    </div>
                    

                    <div class="confirm-total">
                        <div class="confirm-mark">Tổng tiền</div>
                        <div class="confirm-value"></div>
                    </div>

                    <div class="cons-print"><a href="javascript:void(0);" onclick="PrintBill()">Print</a> </div>

                </div>
            </div>
            <!--confirm-->

            <div class="final-form">
                <form id="final">
                    <div class="input-text">
                        <h2>Điều khoản chung</h2>
                        <div class="terms_condition_paypal">
                            <p>&nbsp;</p>

                            <div>
                                <div>
                                    <ul>
                                        <li>Việc bạn sử dụng website này đồng nghĩa với việc bạn đồng ý với
                                            những thỏa thuận dưới đây.</li>
                                        <li>Nếu bạn không đồng ý, xin vui lòng không sử dụng website.</li>
                                    </ul>
                                </div>

                                <div><strong>1. Trách nhiệm của người sử dụng:</strong>

                                    <p>Khi truy cập vào trang web này, bạn đồng ý chấp nhận mọi rủi ro.
                                        Cinestar&nbsp;và các bên đối tác khác không chịu trách nhiệm về bất kỳ
                                        tổn thất nào do những hậu quả trực tiếp, tình cờ hay gián tiếp; những
                                        thất thoát, chi phí (bao gồm chi phí pháp lý, chi phí tư vấn hoặc các
                                        khoản chi tiêu khác) có thể phát sinh trực tiếp hoặc gián tiếp do việc
                                        truy cập trang web hoặc khi tải dữ liệu về máy; những tổn hại gặp phải
                                        do virus, hành động phá hoại trực tiếp hay gián tiếp của hệ thống máy
                                        tính khác, đường dây điện thoại, phần cứng, phần mềm, lỗi chương trình,
                                        hoặc bất kì các lỗi nào khác; đường truyền dẫn của máy tính hoặc nối kết
                                        mạng bị chậm…</p>
                                </div>

                                <div><strong>2. Về nội dung trên trang web:</strong>

                                    <p>Tất cả những thông tin ở đây được cung cấp cho bạn một cách trung thực
                                        như bản thân sự việc.&nbsp;Cinestar&nbsp;và các bên liên quan không bảo
                                        đảm, hay có bất kỳ tuyên bố nào liên quan đến tính chính xác, tin cậy
                                        của việc sử dụng hay kết quả của việc sử dụng nội dung trên trang web
                                        này. Nột dung trên website được cung cấp vì lợi ích của cộng đồng và có
                                        tính phi thương mại. Các cá nhân và tổ chức không được phếp sử dụng nội
                                        dung trên website này với mục đích thương mại mà không có sự ưng thuận
                                        của&nbsp;Cinestar&nbsp;bằng văn bản. Mặc dù&nbsp;Cinestar&nbsp;luôn cố
                                        gắng cập nhật thường xuyên các nội dung tại trang web, nhưng chúng tôi
                                        không bảo đảm rằng các thông tin đó là mới nhất, chính xác hay đầy đủ.
                                        Tất cả các nội dung website có thể được thay đổi bất kỳ lúc nào.</p>
                                </div>

                                <div><strong>3. Về bản quyền:</strong>

                                    <p>Cinestar&nbsp;là chủ bản quyền của trang web này. Việc chỉnh sửa trang,
                                        nội dung, và sắp xếp thuộc về thẩm quyền của&nbsp;Cinestar. Sự chỉnh
                                        sửa, thay đổi, phân phối hoặc tái sử dụng những nội dung trong trang này
                                        vì bất kì mục đích nào khác được xem như vi phạm quyền lợi hợp pháp
                                        của&nbsp;Cinestar.</p>
                                </div>

                                <div><strong>4. Về việc sử dụng thông tin:</strong>

                                    <p>Chúng tôi sẽ không sử dụng thông tin cá nhân của bạn trên website này nếu
                                        không được phép. Nếu bạn đồng ý cung cấp thông tin cá nhân, bạn sẽ được
                                        bảo vệ. Thông tin của bạn sẽ được sử dụng với mục đích, liên lạc với bạn
                                        để thông báo các thông tin cập nhật của&nbsp;Cinestar&nbsp;như lịch
                                        chiếu phim, khuyến mại qua email hoặc bưu điện. Thông tin cá nhân của
                                        bạn sẽ không được gửi cho bất kỳ ai sử dụng ngoài trang
                                        web&nbsp;Cinestar, ngoại trừ những mở rộng cần thiết để bạn có thể tham
                                        gia vào trang web (những nhà cung cấp dịch vụ, đối tác, các công ty
                                        quảng cáo) và yêu cầu cung cấp bởi luật pháp. Nếu chúng tôi chia sẻ
                                        thông tin cá nhân của bạn cho các nhà cung cấp dịch vụ, công ty quảng
                                        cáo, các công ty đối tác liên quan, thì chúng tôi cũng yêu cầu họ bảo vệ
                                        thông tin cá nhân của bạn như cách chúng tôi thực hiện.</p>
                                </div>

                                <div><strong>5. Vể việc tải dữ liệu:</strong>

                                    <p>Nếu bạn tải về máy những phần mềm từ trang này, thì phần mềm và các dữ
                                        liệu tải sẽ thuộc bản quyền của&nbsp;Cinestar&nbsp;và cho phép bạn sử
                                        dụng. Bạn không được sở hữu những phầm mềm đã tải
                                        và&nbsp;Cinestar&nbsp;không nhượng quyền cho bạn. Bạn cũng không được
                                        phép bán, phân phối lại, hay bẻ khóa phần mềm…</p>
                                </div>

                                <div><strong>6. Thay đổi nội dung:</strong>

                                    <p>Cinestar&nbsp;giữ quyền thay đổi, chỉnh sửa và loại bỏ những thông tin
                                        hợp pháp vào bất kỳ thời điểm nào vì bất kỳ lý do nào.</p>
                                </div>

                                <div><strong>7. Liên kết với các trang khác:</strong>

                                    <p>Mặc dù trang web này có thể được liên kết với những trang
                                        khác,&nbsp;Cinestar&nbsp;không trực tiếp hoặc gián tiếp tán thành, tổ
                                        chức, tài trợ, đứng sau hoặc sát nhập với những trang đó, trừ phi điều
                                        này được nêu ra rõ ràng. Khi truy cập vào trang web bạn phải hiểu và
                                        chấp nhận rằng&nbsp;Cinestar&nbsp;không thể kiểm soát tất cả những trang
                                        liên kết với trang&nbsp;Cinestar&nbsp;và cũng không chịu trách nhiệm cho
                                        nội dung của những trang liên kết.</p>
                                </div>

                                <div><strong>8. Đưa thông tin lên trang web:</strong>

                                    <p>Bạn không được đưa lên, hoặc chuyển tải lên trang web tất cả những hình
                                        ảnh, từ ngữ khiêu dâm, thô tục, xúc phạm, phỉ báng, bôi nhọ, đe dọa,
                                        những thông tin không hợp pháp hoặc những thông tin có thể đưa đến việc
                                        vi phạm pháp luật, trách nhiệm pháp lý.&nbsp;Cinestar&nbsp;và tất cả các
                                        bên có liên quan đến việc xây dựng và quản lý trang web không chịu trách
                                        nhiệm hoặc có nghĩa vụ pháp lý đối với những phát sinh từ nội dung do
                                        bạn tải lên trang web.</p>
                                </div>

                                <div><strong>9. Luật áp dụng:</strong>

                                    <p>Mọi hoạt động phát sinh từ trang web có thể sẽ được phân tích và đánh giá
                                        theo luật pháp Việt Nam và toà án Tp. Hồ Chí Minh. Và bạn phải đồng ý
                                        tuân theo các điều khoản riêng của các toà án này.</p>
                                </div>
                            </div>
                        </div>

                        <div class="payment_check">
                            <div><input class="check_terms_condition" type="checkbox"
                                    value="Tôi bảo đảm mua vé xem phim này theo đúng độ tuổi quy định" /><span
                                    class="check_terms_condition_icon"></span>Tôi bảo đảm mua vé xem phim này
                                theo đúng độ tuổi quy định</div>
                            <!--<div><input class="check_terms_condition_1" type="checkbox" value="" /><span class="check_terms_condition_icon"></span>Tôi bảo đảm mua vé xem phim này theo đúng độ tuổi quy định</div>-->
                        </div>
                        <div class="payment_method">
                            <div><input type="radio" class="payment_method_radio" value="qt"
                                    name="payment_method" /><span class="payment_method_icon"></span> Quốc tế
                            </div>
                            <div><input type="radio" class="payment_method_radio" value="nd"
                                    name="payment_method" /><span class="payment_method_icon"></span> Nội địa
                            </div>
                            <!-- <div><input type="radio" class="payment_method_radio" value="zalopay" name="payment_method" /><span class="payment_method_icon"></span> Ví ZaloPay</div> -->
                            <div><input type="radio" class="payment_method_radio" value="momo"
                                    name="payment_method" /><span class="payment_method_icon"></span> Thanh toán
                                qua ví MoMo</div>
                        </div>
                    </div>
                    <div class="input-but">
                        <input type="button" class="cancel" value="Quay lại" id="payment-back" />
                        <input type="button" class="ok" value="Thanh toán" id="payment-next"
                            data-link="https://cinestar.com.vn/datve" />
                        <span></span>
                    </div>
                </form>
            </div>

        </div>
        <!--//payment-part//-->

        <!--//ticket-part//-->
        <div class="ticket-content">
            <div class="ticket-wrap">
                <div class="tbl-wrap">
                    <table>
                        <thead>
                            <tr>
                                <th>Loại vé</th>
                                <th>Số lượng</th>
                                <th>Giá (VNĐ)</th>
                                <th>Tổng tiền (VNĐ)</th>
                            </tr>
                        </thead>

                        <tbody id='content-price'>
                            <!-- getPrice get-price-movie -->
                        </tbody>
                    </table>
                </div>

                <ul class="ticket-cal">
                    <li class="total-ticket-num">Số lượng:<span>0</span><mark>vé</mark></li>
                    <li class="total-ticket-amount">Tổng số tiền:<span>0,00</span><sup>đ</sup></li>
                </ul>
                <div class="ticket-request">
                    <p></p>
                </div>
                <div class="input-but"><input type="button" value="Quay lại" id="ticket-back" /><input
                        type="button" value="Chọn ghế" id="ticket-next" /></div>
            </div>
        </div>
        <!--//ticket-part//-->

        <!--//user-part//-->
        <div class="user-content">
            <!--user-tab-->
            <div class="user-tab">
                <ul>
                    <li class="li-login active">Đăng nhập</li>
                    <li class="li-register">Đăng ký thành viên</li>
                </ul>

                <!--tab-login-->
                <div class="tab-login">
                    <div class="user-form login">
                        <h3 class="user-title">Vui lòng nhập tên người dùng(email) và mật khẩu</h3>
                        <form id="login">
                            <div class="require-col">
                                <div class="input-text username">
                                    <input name="username" id="login_email1" type="text" value="" />
                                </div>
                                <div class="input-text password">
                                    <input name="password" id="login_password1" type="password" value="" />
                                </div>
                                <div class="input-but">
                                    <input type="button" value="Đăng nhập" id="btn-login-top" />
                                    <a class="user-link" href="javascript:void(0);">Tìm lại mật khẩu</a>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="user-form forgot">
                        <h3 class="user-title">Vui lòng nhập địa chỉ email của bạn vào ô bên dưới.<br />
                            Bạn sẽ nhận được một liên kết để thiết lập lại mật khẩu.</h3>
                        <form id="forgot">
                            <div class="require-col">
                                <div class="input-text email">
                                    <input type="text" value="" />
                                </div>
                                <div class="input-text authentication-img">
                                    <a href="#" onclick="refreshcaptcha(); return false;"><img
                                            class="captcha_image" src="" alt="authentication" /></a>
                                </div>
                                <div class="input-text authentication">
                                    <input type="text" value="" />
                                </div>
                                <div class="input-but">
                                    <input type="button" value="Gửi" id="btn-send" />
                                    <a class="user-link" href="javascript:void(0);">Quay lại trang đăng nhập</a>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
                <!--tab-login-->

                <!--tab-register-->
                <div class="tab-register">
                    <div class="user-form register">
                        <h3 class="user-title">Vui lòng nhập thông tin</h3>
                        <form id="register">

                            <div class="require-col">
                                <label class="gender"><input type="radio" name="gender" value="1" /><span
                                        class="gender-name">Nam</span><span class="gender-shape"></span></label>
                                <label class="gender"><input type="radio" name="gender" value="0" /><span
                                        class="gender-name">Nữ</span><span class="gender-shape"></span></label>
                            </div>

                            <div class="require-col">
                                <div class="input-text name">
                                    <span class="focus-text">HỌ TÊN (*)</span>
                                    <input id="member_name1" name="name" type="text" value="" />
                                </div>
                                <div class="input-text birth">
                                    <span class="focus-text">DD/MM/YYYY ( Ngày sinh*)</span>
                                    <input id="member_birthday1" name="birthday" type="text" value="" />
                                </div>
                                <div class="input-text address">
                                    <span class="focus-text">ĐỊA CHỈ (*)</span>
                                    <input id="member_address1" name="address" type="text" value="" />
                                </div>
                                <div class="input-text code">
                                    <span class="focus-text">SỐ CMNN/BẰNG LÁI (*)</span>
                                    <input id="member_cmnn1" name="cmnn" type="text" value="" />
                                </div>
                                <div class="input-text tel">
                                    <span class="focus-text">ĐIỆN THOẠI (*)</span>
                                    <input id="member_phone1" name="phone" type="text" value="" />
                                </div>
                                <div class="input-text email">
                                    <span class="focus-text">EMAIL (*)</span>
                                    <input id="member_email1" name="email" type="text" value="" />
                                </div>
                                <div class="input-text username">
                                    <span class="focus-text">TÊN ĐĂNG NHẬP (*)</span>
                                    <input id="member_username1" name="username" type="text" value="" />
                                </div>
                                <div class="input-text password">
                                    <span class="focus-text">MẬT KHẨU (*)</span>
                                    <input id="member_password1" name="password" type="password" value="" />
                                </div>
                                <div class="input-text confirmpass">
                                    <span class="focus-text">NHẬP LẠI MẬT KHẨU (*)</span>
                                    <input id="member_password_confirm1" name="password_confirm" type="password"
                                        value="" />
                                </div>
                                <div class="input-check">
                                    <input id="member_accept1" name="accept" value="1"
                                        type="checkbox" /><span></span>Khách hàng đã đồng ý các điều khoản, điều
                                    kiện của thành viên Cinestar
                                </div>
                                <div class="input-but">
                                    <input type="button" value="ĐĂNG KÝ" id="btn-register-tab" />
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="user-form modify">
                        <h3 class="user-title">Chỉnh sửa thông tin cá nhân</h3>
                        <form id="modify">
                            <div class="require-col">
                                <label class="gender"><input type="radio" name="gender" value="1"
                                        checked /><span class="gender-name">Nam</span><span
                                        class="gender-shape"></span></label>
                                <label class="gender"><input type="radio" name="gender" value="0" /><span
                                        class="gender-name">Nữ</span><span class="gender-shape"></span></label>
                            </div>

                            <div class="require-col">
                                <div class="input-text name">
                                    <span class="focus-text">HỌ TÊN (*)</span>
                                    <input type="text" value="" />
                                </div>
                                <div class="input-text birth">
                                    <span class="focus-text">DD/MM/YYYY ( Ngày sinh*)</span>
                                    <input type="text" value="" />
                                </div>
                                <div class="input-text address">
                                    <span class="focus-text">ĐỊA CHỈ (*)</span>
                                    <input type="text" value="" />
                                </div>
                                <div class="input-text code">
                                    <span class="focus-text">SỐ CMNN/BẰNG LÁI (*)</span>
                                    <input type="text" value="" />
                                </div>
                                <div class="input-text tel">
                                    <span class="focus-text">ĐIỆN THOẠI (*)</span>
                                    <input type="text" value="" />
                                </div>
                                <div class="input-text email">
                                    <span class="focus-text">EMAIL (*)</span>
                                    <input type="text" value="" />
                                </div>
                                <div class="input-text username">
                                    <span class="focus-text">TÊN ĐĂNG NHẬP (*)</span>
                                    <input type="text" value="" />
                                </div>
                                <div class="input-text password">
                                    <span class="focus-text">MẬT KHẨU (*)</span>
                                    <input type="password" value="" />
                                </div>
                                <div class="input-text confirmpass">
                                    <span class="focus-text">NHẬP LẠI MẬT KHẨU (*)</span>
                                    <input type="password" value="" />
                                </div>
                                <div class="input-but">
                                    <input type="button" value="LƯU LẠI" id="btn-save-top" />
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
                <!--tab-register-->

            </div>
            <!--//user-part//-->

        </div>
        <!--BLOCK - LOGIN-->

        <!--//cinema-part//-->
        <div id="cinema-content" class="cinema-content">
            <!-- getSeats -->
            <div class="cinema-name">
                <h2></h2>
            </div>

            <div class="cinema-wrap">
                <h3 class="cinema-title">Màn hình</h3>
                <div class="cinema-wrap seat-scroll ">
                    <div class="cinema-seat " data-server="2" data-room-name="02" style="display: block;">
                        <div class="seat-container">
                        </div>
                    </div>

                    <div style="width: 592.54px; height: 590px;"></div>
                </div>
                <ul class="cinema-note">
                    <li class="single">Ghế đơn</li>
                    <li class="couple">Ghế đôi</li>
                    <li class="couple-busy">Ghế đôi đã chọn</li>
                    <li class="choosing">Ghế đang chọn</li>
                    <li class="busy">Ghế đơn đã chọn</li>
                    <li class="road">Lối đi</li>
                </ul>

                <div class="cons-but">
                    <div class="cons-icon show"></div>
                    <div class="cons-total"><div class="cons-value"><span>0</span><sup>đ</sup></div><div class="cons-text"></div></div>
                </div>

                <div class="cinema-btn">
                    <input type="button" id="cinema-back" value="Quay lại">
                    <input type="button" id="cons-chose" class="cons-chose" value="Chọn Đồ Ăn">
                    <input type="button" id="cinema-next" value="Thanh toán">
                </div>
            </div>
        </div>

        <!--COMBO-->

        <div class="cons-content">

            <div class="cons-box">
                <ul>
                    <li>
                    </li>              
                </ul>
            </div>

            <div class="cons-input">
                <input type="button" class="cons-cancel" id="cons-cancel" value="Hủy" />
                <input type="button" class="cons-ok" id="cons-ok" value="Đồng ý" />
            </div>

            <div class="cons-top">
                <div class="cons-icon"></div>
                <div class="cons-total">
                    <div class="cons-value"><span></span><sup>đ</sup></div>
                    <div class="cons-text"></div>
                </div>
            </div>

        </div>
        <!--COMBO-->

        <!--//cinema-part//-->

    </div>
</div>