<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="slide-item loading" style="width: 240px;">
        <div class="movie-item n_2d">
            <div class="movie-pic"><img class="lazyload"
                    data-src="https://cinestar.com.vn/pictures/Cinestar/08-2022/poster-ha-canh-khan-cap.jpg"
                    alt="HẠ CÁNH KHẨN CẤP (C16)" style="display: none;"></div>
            <div class="movie-txt">
                <h3>HẠ CÁNH KHẨN CẤP (C16)</h3>
            </div>
            <div class="movie-over">
                <a href="https://cinestar.com.vn/phim/e2cb3939-f404-4242-b9ac-9d197e8e0531">
                    <p>Chuyện phim xoay quanh chuyến bay mang số hiệu KI501 của hãng hàng không Sky Korea, khởi hành từ
                        sân bay quốc tế Incheon tới Honolulu, Hawaii. Không lâu sau khi máy bay cất cánh, một hành khách
                        bắt đầu có những biểu hiện lạ, liên tục nôn ra máu và tử vong trước sự bàng hoàng của mọi người.
                        Một virus lạ với tốc độ lây lan chóng mặt đã xâm nhập lên máy bay, tất cả chìm trong hỗn loạn và
                        sợ hãi. Trong tình huống ngàn cân treo sợi tóc, một tuyên bố đề nghị hạ cánh khẩn cấp được đưa
                        ra. Trên độ cao hơn 8,000 mét, số phận của hơn 150 con người bao gồm cả các hành khách và phi
                        hành đoàn sẽ ra sao?</p><span class="atc">...</span>
                    <span class="detail-link">Chi tiết</span>
                </a>
                <a class="trailler-btn fontsize13" href="https://cinestar.com.vn/trailer?code=8iJvS40hTE4">Xem
                    trailer</a>
                <a class="cart-btn fontsize13"
                    href="https://cinestar.com.vn/lichchieu/e2cb3939-f404-4242-b9ac-9d197e8e0531">Mua vé</a>
            </div>
        </div>
    </div>
</body>

</html>