<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title id="hdtitle">CINESTAR - Hệ thống Rạp chiếu phim giá rẻ, hiện đại bậc nhất</title>
            <meta name="description" content="Hệ thống rạp chiếu phim Cinestar phục vụ khán giả với những thước phim điện ảnh chất lượng, dịch vụ tốt nhất với giá vé chỉ từ 45.000đ. Đặt vé ngay hôm nay để nhận được những ưu đãi bất ngờ từ Cinestar." />
                    <meta name="keywords" content="Hệ thống rạp chiếu phim Cinestar phục vụ khán giả với những thước phim điện ảnh chất lượng, dịch vụ tốt nhất với giá vé chỉ từ 45.000đ. Đặt vé ngay hôm nay để nhận được những ưu đãi bất ngờ từ Cinestar." />
            <meta name="author" content="CINESTAR">
    <meta property="og:url" content="https://cinestar.com.vn/">
    <meta property="og:title" content="CINESTAR - Hệ thống Rạp chiếu phim giá rẻ, hiện đại bậc nhất">
    <meta property="og:image" content="https://cinestar.com.vn/pictures/moi/9Logo/den.png">
    <meta property="og:description" content="CINESTAR">
    <meta property="og:site_name" content="CINESTAR">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="vi_VN">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name = "format-detection" content = "telephone=no">
    <meta name="google-site-verification" content="YuTiM7jHui55k8Zx2X9vwfCyP9rylFkgxyGeseNR8pk" />
    <link rel="SHORTCUT ICON" href="https://cinestar.com.vn/catalog/view/theme/default/images/favicon.ico">
    <link href="https://cinestar.com.vn/catalog/view/theme/default/css/style.css?v=1.9" rel="stylesheet" type="text/css">
    
    <link href="https://cinestar.com.vn/catalog/view/theme/default/css/validationEngine.jquery.css" rel="stylesheet" type="text/css">
    
            <!--[if lt IE 9]>
        <meta http-equiv="refresh" content="0; url=https://cinestar.com.vn/detect.html" />
        <script type="text/javascript">
        /* <![CDATA[ */
        window.top.location = 'https://cinestar.com.vn/detect.html';
        /* ]]> */
        </script>
    <![endif]-->
    <script>
        var USERNAME = '';
        var EMAIL = '';
        var PHONE = '';
    </script>

    <script type="text/javascript" src="https://cinestar.com.vn/catalog/view/theme/default/js/jquery.js"></script>
    <script type="text/javascript" src="https://cinestar.com.vn/catalog/view/theme/default/js/history.js"></script>
    <script type="text/javascript" src="https://cinestar.com.vn/catalog/view/theme/default/js/common.js"></script>
    <script type="text/javascript" src="https://cinestar.com.vn/catalog/view/theme/default/js/slide.js"></script> 
    <script type="text/javascript" src="https://cinestar.com.vn/catalog/view/theme/default/js/scroll.js"></script> 
    <!-- <script type="text/javascript" src="https://cinestar.com.vn/catalog/view/theme/default/js/load.js"></script> -->


    <script type="text/javascript" src="https://cinestar.com.vn/catalog/view/theme/default/js/jquery.validationEngine.js"></script>
    <script type="text/javascript" src="https://cinestar.com.vn/catalog/view/theme/default/js/validate.js"></script>
    
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-159045884-1"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-159045884-1');
</script>		
<!-- Facebook Pixel Code -->

  <script>

          !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,document,'script','https://connect.facebook.net/en_US/fbevents.js');



           fbq('init', '1760220167590183');

             fbq('track', "PageView");
</script>

                 <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1760220167590183&ev=PageView&noscript=1"/>
               
                 </noscript>

<!-- End Facebook Pixel Code -->
</head>
<body>
    <div class="header">
        <div class="logo-mb" style="background-image:url(https://cinestar.com.vn/pictures/moi/9Logo/white-2018.png);"></div>
        <div class="top">
            <div style="display: none" class="user-peoplexx"><a href="user-detail.html" id="user_01">xem thông tin</a> Hi: <span>New member !</span></div>
            <!--//logo-part//-->
            <div class="logo" style="background-image:url(https://cinestar.com.vn/pictures/moi/9Logo/white-2018.png);"></div>
            <!--//logo-part//-->
    
            <!--//facilities-part//-->
            <div class="facilities-nav">
                <!--search-->
                <div class="search-form">
                    <div class="form-row-search">
                        <form onsubmit="return false;" action="" id="search" method="get">
                            <input id="qsearch" type="text" class="search-field" value="Tìm kiếm...">
                            <input id="defaultvalue" type="hidden" class="search-field" value="Tìm kiếm...">
                            <input type="hidden" id="href_search" value="">
                        </form>
                    </div>
                    <a href="javascript:void(0);" class="search">Search</a>
                </div>
                <!--search-->
                <!--laguage-->
                <form style="display: inline" id="change_lang" enctype="multipart/form-data" method="post" action="https://cinestar.com.vn/index.php?route=common/home">
                                    <a style="text-transform: uppercase" class="language show" href="javascript:void(0);" onclick="$('input[name=\'language_code\']').attr('value', 'en').submit(); $('#change_lang').submit(); return false;">en</a>
                                    <input type="hidden" value="" name="language_code">
                    <input id="changlanguage_redirect" type="hidden" value="https://cinestar.com.vn/" name="redirect">
                </form>            
                <!--laguage-->
            </div>
            <!--//facilities-part//-->
    
            <!--menu-->
            <div class="navigation" style="height: auto;">
                <a class="link-home current" href="https://cinestar.com.vn/"><h1>Trang chủ</h1></a>
                <div class="nav">
                    <ul>
                                            <li><a data-title="CINESTAR - Hệ thống Rạp chiếu phim giá rẻ, hiện đại bậc nhất" data-description="Hệ thống rạp chiếu phim Cinestar phục vụ khán giả với những thước phim điện ảnh chất lượng, dịch vụ tốt nhất với giá vé chỉ từ 45.000đ. Đặt vé ngay hôm nay để nhận được những ưu đãi bất ngờ từ Cinestar." data-keyword="Hệ thống rạp chiếu phim Cinestar phục vụ khán giả với những thước phim điện ảnh chất lượng, dịch vụ tốt nhất với giá vé chỉ từ 45.000đ. Đặt vé ngay hôm nay để nhận được những ưu đãi bất ngờ từ Cinestar." href="https://cinestar.com.vn/phim"><h1>Phim</h1></a></li>
                                            <li><a data-title="CINESTAR - Hệ thống Rạp chiếu phim giá rẻ, hiện đại bậc nhất" data-description="Hệ thống rạp chiếu phim Cinestar phục vụ khán giả với những thước phim điện ảnh chất lượng, dịch vụ tốt nhất với giá vé chỉ từ 45.000đ. Đặt vé ngay hôm nay để nhận được những ưu đãi bất ngờ từ Cinestar." data-keyword="Hệ thống rạp chiếu phim Cinestar phục vụ khán giả với những thước phim điện ảnh chất lượng, dịch vụ tốt nhất với giá vé chỉ từ 45.000đ. Đặt vé ngay hôm nay để nhận được những ưu đãi bất ngờ từ Cinestar." href="https://cinestar.com.vn/lichchieu"><h1>Lịch chiếu</h1></a></li>
                                            <li><a data-title="CINESTAR - Hệ thống Rạp chiếu phim giá rẻ, hiện đại bậc nhất" data-description="Hệ thống rạp chiếu phim Cinestar phục vụ khán giả với những thước phim điện ảnh chất lượng, dịch vụ tốt nhất với giá vé chỉ từ 45.000đ. Đặt vé ngay hôm nay để nhận được những ưu đãi bất ngờ từ Cinestar." data-keyword="Hệ thống rạp chiếu phim Cinestar phục vụ khán giả với những thước phim điện ảnh chất lượng, dịch vụ tốt nhất với giá vé chỉ từ 45.000đ. Đặt vé ngay hôm nay để nhận được những ưu đãi bất ngờ từ Cinestar." href="https://cinestar.com.vn/rapvagia"><h1>Rạp và giá</h1></a></li>
                                            <li><a data-title="CINESTAR - Hệ thống Rạp chiếu phim giá rẻ, hiện đại bậc nhất" data-description="Hệ thống rạp chiếu phim Cinestar phục vụ khán giả với những thước phim điện ảnh chất lượng, dịch vụ tốt nhất với giá vé chỉ từ 45.000đ. Đặt vé ngay hôm nay để nhận được những ưu đãi bất ngờ từ Cinestar." data-keyword="Hệ thống rạp chiếu phim Cinestar phục vụ khán giả với những thước phim điện ảnh chất lượng, dịch vụ tốt nhất với giá vé chỉ từ 45.000đ. Đặt vé ngay hôm nay để nhận được những ưu đãi bất ngờ từ Cinestar." href="https://cinestar.com.vn/khuyenmai"><h1>Khuyến mãi</h1></a></li>
                                            <li><a data-title="CINESTAR - Hệ thống Rạp chiếu phim giá rẻ, hiện đại bậc nhất" data-description="Hệ thống rạp chiếu phim Cinestar phục vụ khán giả với những thước phim điện ảnh chất lượng, dịch vụ tốt nhất với giá vé chỉ từ 45.000đ. Đặt vé ngay hôm nay để nhận được những ưu đãi bất ngờ từ Cinestar." data-keyword="Hệ thống rạp chiếu phim Cinestar phục vụ khán giả với những thước phim điện ảnh chất lượng, dịch vụ tốt nhất với giá vé chỉ từ 45.000đ. Đặt vé ngay hôm nay để nhận được những ưu đãi bất ngờ từ Cinestar." href="https://cinestar.com.vn/hoivadap"><h1>Hỏi và đáp</h1></a></li>
                                            <li><a data-title="CINESTAR - Hệ thống Rạp chiếu phim giá rẻ, hiện đại bậc nhất" data-description="Hệ thống rạp chiếu phim Cinestar phục vụ khán giả với những thước phim điện ảnh chất lượng, dịch vụ tốt nhất với giá vé chỉ từ 45.000đ. Đặt vé ngay hôm nay để nhận được những ưu đãi bất ngờ từ Cinestar." data-keyword="Hệ thống rạp chiếu phim Cinestar phục vụ khán giả với những thước phim điện ảnh chất lượng, dịch vụ tốt nhất với giá vé chỉ từ 45.000đ. Đặt vé ngay hôm nay để nhận được những ưu đãi bất ngờ từ Cinestar." href="https://cinestar.com.vn/tintuc"><h1>Tin tức</h1></a></li>
                                            <li><a data-title="CINESTAR - Hệ thống Rạp chiếu phim giá rẻ, hiện đại bậc nhất" data-description="Hệ thống rạp chiếu phim Cinestar phục vụ khán giả với những thước phim điện ảnh chất lượng, dịch vụ tốt nhất với giá vé chỉ từ 45.000đ. Đặt vé ngay hôm nay để nhận được những ưu đãi bất ngờ từ Cinestar." data-keyword="Hệ thống rạp chiếu phim Cinestar phục vụ khán giả với những thước phim điện ảnh chất lượng, dịch vụ tốt nhất với giá vé chỉ từ 45.000đ. Đặt vé ngay hôm nay để nhận được những ưu đãi bất ngờ từ Cinestar." href="https://cinestar.com.vn/gioithieu"><h1>Giới thiệu</h1></a></li>
                                            <li><a data-title="CINESTAR - Hệ thống Rạp chiếu phim giá rẻ, hiện đại bậc nhất" data-description="Hệ thống rạp chiếu phim Cinestar phục vụ khán giả với những thước phim điện ảnh chất lượng, dịch vụ tốt nhất với giá vé chỉ từ 45.000đ. Đặt vé ngay hôm nay để nhận được những ưu đãi bất ngờ từ Cinestar." data-keyword="Hệ thống rạp chiếu phim Cinestar phục vụ khán giả với những thước phim điện ảnh chất lượng, dịch vụ tốt nhất với giá vé chỉ từ 45.000đ. Đặt vé ngay hôm nay để nhận được những ưu đãi bất ngờ từ Cinestar." href="https://cinestar.com.vn/lienhe"><h1>Liên hệ</h1></a></li>
                                        </ul>
                </div>
            </div>
            <!--menu-->
        </div>
    </div>
</body>
</html>